@model string
@{
    Layout = null;
    ViewData["Title"] = "Account in analyzing";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Analyze</title>
</head>
<body>
</body>
</html>
